.preview {
	border: 2px dashed;
	margin: 1rem 0;
	padding: 1rem;
}
.preview img {
	max-width: 100%;
}

dl.base-stats {
	align-items: center;
	display: grid;
	grid-template-columns: 15ch auto;
}

.base-stats dt {
	grid-column: 1;
}

.base-stats dd {
	grid-column: 2;
	margin-bottom: 0;
}

.pokemon-progress-text {
	min-width: 8ch;
}
